<nz-collapse>
  <nz-collapse-panel *ngFor="let panel of dic?.data; let i = index" [nzHeader]="panel.dichanzi" [nzActive]="i===0">
    <p>[{{panel.dic_duyin}}] 【部首】：{{panel.dic_bushou}}</p>
    <div *ngIf="panel.dic_jianjie != null && panel.dic_jianjie != ''">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="'【释义】'" [nzActive]="true">
          <p [innerHTML]="panel.dic_jianjie"></p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div *ngIf="panel.dic_xiangjie != null && panel.dic_xiangjie != ''">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="'【详细释义】'"
                           [nzActive]="false">
          <p [innerHTML]="panel.dic_xiangjie"></p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<nz-list *ngIf="dic?.code === 1001">
  <p style="text-align: center;height: 40px;line-height: 40px;">{{dic?.msg}}</p>
</nz-list>
