<nz-collapse>
  <nz-collapse-panel *ngFor="let panel of idiom?.data; let i = index" [nzHeader]="panel.idiomname" [nzActive]="panel.active">
    <p>[{{panel?.idiom_spell}}]</p>
    <div *ngIf="panel.idiom_content != null">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]=""
                           [nzActive]="true">
          <p>{{panel.idiom_content}}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div *ngIf="panel.idiom_samples != null">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]=""
                           [nzActive]="false">
          <p>{{panel.idiom_samples}}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div *ngIf="panel.idiom_derivation != null">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]=""
                           [nzActive]="false">
          <p>{{panel.idiom_derivation}}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-collapse-panel>
</nz-collapse>
