<!--<nz-skeleton [nzActive]="true" [nzAvatar]="size?[]:[small]"></nz-skeleton>-->
<div class="show" [ngStyle]="{ 'padding-bottom': '35px' }" >
  <img [src]="previewImage" [ngStyle]="{ 'width': '100%', 'max-height': '450px', 'padding-bottom': '8px' }" />
  <textarea rows="2" nz-input [(ngModel)]="inputValue" [hidden]="textShow" [ngStyle]="{ 'float': 'right','padding-bottom': '20px' }"></textarea>
</div>
<div class="clearfix">
  <nz-upload
    nzAction="/yy/upload"
    nzListType="picture-card"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 3"
    [nzPreview]="handlePreview">
    <i nz-icon type="plus"></i>
    <div class="ant-upload-text">Upload</div>
  </nz-upload>
  <!--<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">-->
    <!--<ng-template #modalContent>-->
      <!--<img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />-->
    <!--</ng-template>-->
  <!--</nz-modal>-->
</div>
